body{
    margin: 0;
    background-color:#FFE6D8;
    padding: 10px 10px;
    font-family: 'Poppins', sans-serif;
}
div#up{
    width:100%;
    height:30px;
    float:none;
}
#down{
    width: 100%;
    height:680px;
    float:none;
    margin: 0;
}
.jb-wrap {
    margin-top:100px;
    margin-left: 25%;
    display:flex;
}
.jb-image{
    max-width:700px;
}
.jb-image img {
    width:100%;
    vertical-align: middle;
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;
}
.right-container {
    background-color:#FFFFFF;
    padding: 5px 10px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
}
.jb-text{
    padding-top:80px;
}
#join{
    margin-top:100px;
    border: #FA5C35 solid;
    background-color: #FA5C35;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    width: 150px;
    height: 55px;
    cursor:pointer;
}
#close{
    background-color:lightgray;
    color:white;
    font-size:25px;
    border:none;
    width:35px;
    height:35px;
    border-radius:10px;
    float:right;
    cursor:pointer;
}