body{
    background-color:#FFE6D8;
    padding: 10px 10px;
    font-family: 'Poppins', sans-serif;
}
.upper {
    width : 80%;
    font-size: 40px;
    font-weight:bold;
    position : relative;
    top : 30px;
}
.tri_left {
    float: left;
}
.tri_right {
    float:right;
}
ul li {
    margin-left: 115px;
    margin-right: 150px;
}
.wood {
    position: relative;
    left:25%;
    top:70px;
}
.calendar {
    background-color: white;
    border-radius: 30px;
    position: absolute;
    width:990px;
    height: 580px;

    top:100px;
    left: 20px;
    
}
table {
    width: 900px;
    margin-left: 60px;
}
th {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 20px;
    text-align: center;
    color:tomato;
    margin : -50px;
}
td{
    padding-bottom: 95px;
    font-weight : bold;
}

#today {
    background-color:#F9DC85;
    position:absolute;
     margin-top: -12px;
    padding:4px;

    border-radius: 100%;
    cursor:pointer;
}

#todayplan{
    position:absolute;
    top:325px;
    left:340px;
}

#todayplan2{
    position:absolute;
    top:380px;
    left:340px;
}

#day1 {
    position: absolute;
    top:120px;
    left:80px;
}
#day3 {
    position: absolute;
    top:120px;
    left:340px;
}
#day5 {
    position: absolute;
    top:120px;
    left:600px;
}
#day6 {
    position: absolute;
    top:120px;
    left:730px;
}
#day10 {
    position: absolute;
    top:240px;
    left:340px;
}
#day11 {
    position: absolute;
    top:240px;
    left:470px;
}
#day12 {
    position: absolute;
    top:240px;
    left:600px;
}
#day14 {
    position: absolute;
    top:240px;
    left:860px;
}
#day15 {
    position: absolute;
    top:360px;
    left:80px;
}
#day16 {
    position: absolute;
    top:360px;
    left:210px;
}
#day17 {
    position: absolute;
    top:360px;
    left:340px;
}
#board_prop{
    height: 70px;
    display: block;
    margin :36px auto;
}
#big_bush{
    position: absolute;
    top:420px;
    right:-150px;
}
#small_bush{
    transform: scaleX(-1);
    position: absolute;
    height: 180px;
    top:500px;
    left:-50px;
}
#list {
    position:absolute;
    background-color: #F2B705;
    border-radius: 10px;
    top:360px;
    left:340px;
    width:120px;
    padding:5px 10px;
    font-weight: bold;
    display:none;
}
