

#content{
    text-align: center;
    z-index: 1;
}


h1{
    font-size: 70px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.diarytitle{
    font-size: 30px;
    text-align: center;
}

.diarycon{
    font-size: 18px;
    text-align: center;
}

.diaryform{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: -1;
    margin-top: 80px;
}