body{
    background-color:#FFE6D8;
    font-family: 'Poppins', sans-serif;
}
.schedule{
    position:relative;
    background-color: white;
    width:950px;
    height:650px;
    margin:0 auto;
    top:130px;
    border-radius: 40px;
}
.close {
    height:45px;
    position: absolute;
    right:30px;
    top:30px;
}
.title{
    text-align: center;
    padding-top:40px;
    font-size:50px;
    font-weight: bold;
    color:#F27405;
}
.date{
    color:gray;
    font-size:20px;
    margin-left:80px;
}
.lists{
    text-align: center;
    margin-top:50px;
    position: relative;
}
#schedule3{
}
#edit{
    position: absolute;
    left:400px;
    top:300px;
    cursor:pointer;
}
#add{
    position: absolute;
    left:450px;
    top:300px;
    display: none;
}
#minus1{
    position: absolute;
    height: 40px;
    top:273px;
    left:75px;
    display:none;
}
#minus2{
    position: absolute;
    height: 40px;
    top:375px;
    left:75px;
    display:none;
}
#minus3{
    position: absolute;
    height: 40px;
    top:475px;
    left:75px;
    display:none;
    cursor:pointer;
}