body{
    margin: 0;
    background-color:#FFE6D8;
    padding: 10px 10px;
    font-family: 'Poppins', sans-serif;
}
#up p{
    padding-top:60px;
    padding-bottom:10px;
}
div#up{
    width:100%;
    height:200px;
    float:none;
}
#down{
    width: 100%;
    height:680px;
    float:none;
    margin-top : 60px;
    text-align: center;
}
.jb-wrap {
    border: 1px;
    width: 20%;
    position:relative;
    display: inline-block;
}
.jb-wrap img {
    width: 100%;
    vertical-align: middle;
    cursor:pointer;
}
.jb-text {
    padding: 5px 10px;
    text-align: center;
    position:absolute;
    bottom:13%;
    left:50%;
    transform: translate( -50%, 0% );
}
#up img{
    cursor:pointer;
}