p {
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
.map{
    text-align: center;
}

h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}


#library img:first-child{
    position:absolute;
    top:425px;
    left:950px;
}

#library img:last-child{
    position: absolute;
    top:350px;
    left:940px;
    visibility:hidden;
}

#library:hover img:first-child{
   visibility: hidden;
}

#library:hover img:last-child{
    visibility: visible;
}



