body{
    background-color:#FFE6D8;
}
.container{
    background-color:#fff;
    border-radius:20px;
    /*border: 1px solid #000;*/
    margin:100px 500px;
    display: flex;
    justify-content: space-evenly;
}
.name{
    text-align:center;
    font-size:40px;
    font-weight:bold;
}
.select {
    padding: 30px;
    font-weight:bold;
    float: left;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 1px solid #FA5C35;
    line-height: 24px;
    text-align: center;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #FA5C35;
}
.select input[type=radio]:checked+label{
    background-color: #FA5C35;
    color: #fff;
}
.graph{
    float: left;
    display:flex;
    align-items: center;
}

.graph li{
    padding-left:50px;
    width:40px;
    align-items:center;
}
.graph li div{
    position:relative;
    width:40px;
    height:200px;
}
.graph li div span{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color:#FA5C35;
    border-radius:4px;
}
li{
    list-style:none;
}